<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game1.css" />
    <title>This App</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="modal hidden">
        <img src="../png/cup.png" alt="" class="modal_pic" />
        <div class="modal_res_cont">
          <span class="modal_res">0</span>/3 right
        </div>
        <a href="main.html" class="btn modal_ok">Okay</a>
      </div>

      <div class="header">
        <a href="main.html" class="back block">Back</a>

        <div class="balance_cont block">
          <img src="../png/coin.png" alt="" />
          <div class="balance"></div>
        </div>
      </div>

      <div class="card card_1">
        <div class="card_header">When was sport invented?</div>

        <div class="option_cont">
          <div class="box block"></div>
          <div class="option">70,000 BC, in the Ancient World</div>
        </div>

        <div class="option_cont">
          <div class="box block"></div>
          <div class="option">60,000 BC, in the Ancient World</div>
        </div>

        <div class="option_cont">
          <div class="box block"></div>
          <div class="option">30,000 BC, in the Ancient World</div>
        </div>
      </div>

      <div class="card card_2">
        <div class="card_header">When was the quiz invented?</div>

        <div class="option_cont">
          <div class="box block"></div>
          <div class="option">1782, James Daly, theater manager.</div>
        </div>

        <div class="option_cont">
          <div class="box block"></div>
          <div class="option">1762, James Daly, theater manager.</div>
        </div>

        <div class="option_cont">
          <div class="box block"></div>
          <div class="option">1742, James Daly, theater manager.</div>
        </div>
      </div>

      <div class="card card_3">
        <div class="card_header">What was the first sport?</div>

        <div class="option_cont">
          <div class="box block"></div>
          <div class="option">Fighting</div>
        </div>

        <div class="option_cont">
          <div class="box block"></div>
          <div class="option">Football</div>
        </div>

        <div class="option_cont">
          <div class="box block"></div>
          <div class="option">Backetball</div>
        </div>
      </div>

      <div class="btn check">Check</div>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/game1.js"></script>
  </body>
</html>
