<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game2.css" />
    <title>This App</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="header">
        <a href="main.html" class="back block">Back</a>

        <div class="balance_cont block">
          <img src="../png/coin.png" alt="" />
          <div class="balance"></div>
        </div>
      </div>

      <div class="slot_cont_cont block">
        <div class="slot_cont"></div>
      </div>

      <div class="white">
        <div class="win_cont">
          <div class="win_text">win</div>
          <div class="win">400</div>
        </div>

        <div class="control">
          <div class="minus block">-</div>
          <div class="bet-amount_cont block">
            <img src="../png/coin.png" alt="" />
            <div class="bet-amount">100</div>
          </div>
          <div class="plus block">+</div>
        </div>

        <div class="spin btn">Spin</div>
      </div>
    </div>

    <script src="../scripts/game2.js"></script>
  </body>
</html>
