body {
  background: url(../png/bg1.png) center/100% 100%;
}

.wrapper {
  overflow: hidden;
}

.control {
  display: flex;
  align-items: center;
  gap: 20px;
}

.plus,
.minus {
  width: 100px;
  height: 44px;

  border-radius: 10px;
  border: 3px solid #6b6b6b;
  background: rgba(0, 0, 0, 0.6);

  font-size: 40px;
}

.bet-amount_cont {
  width: 114px;
  height: 44px;

  border-radius: 10px;
  border: 3px solid #6b6b6b;
  background: rgba(0, 0, 0, 0.6);
}

.bet-amount {
  font-weight: 700;
  font-size: 17px;
}

.bet-amount_cont img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.slot_cont_cont {
  width: 327px;
  height: 183px;

  background: url(../png/slot_bg.png);
  margin: 120px auto auto;
}

.slot_cont {
  width: 95%;
  height: 95%;

  display: flex;
  justify-content: space-around;

  overflow: hidden;
}

.slot_col {
  position: relative;

  width: 33%;
  height: 33%;
}

.inner_slot_col {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  transition: top 4s ease;
}

.slot {
  width: 100%;
  height: 100%;
}

.slot img {
  max-width: 90%;
  max-height: 90%;
}

.white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  gap: 17px;
  margin: 120px auto auto;
}

.spin {
  width: 205px;
  height: 75px;
}

.win_cont {
  position: relative;
  width: 326px;
  height: 44px;

  font-size: 17px;
  font-weight: 800;

  padding: 12px;
  border-radius: 10px;
  border: 3px solid #6b6b6b;
  background: rgba(0, 0, 0, 0.6);
}

.win {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-height: 750px) {
  .slot_cont_cont {
    margin: 80px auto auto;
  }

  .white {
    margin: 30px auto auto;
  }
}
